{% extends "forum/base.html" %}
{% block title %}update comment!{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    {% if user.is_authenticated and user.id == comment.user.id %}
    <form action="/forum/update-comment/{{comment.id}}/" method="post" enctype="multipart/form-data"> 
                {% csrf_token %}
                {{ form.media }}
                {{ form | crispy}}
        <input type="submit" value="post">
    </form>
    
    {% else %}
        <p class="reddit-color">You are not allowed to edit this post, common you didn't create this comment</p>
    {% endif %}
{% endblock %}
