{% extends "forum/base.html" %}
{% block title %}about Africonn and term of use{% endblock %}
{% block content %}

<h1>About</h1>
<div id="about">
   <p><b>Africonn</b> is a social platform focused on promoting innovation across Africa. Africans have always been consumers of technology, it is time we too start giving back to the world through our own quota, Our primary mission is to promote technological advancement across Africa.</p> 
   <br> 
   <p><b>How do we plan to do that?</b></p> 
        <p>* By enabling people to discuss vital and important issues across Africa</p>
        <p>* By enabling people to meet like minded people. The intention with which this platform was created is to <b>FOSTER CONNECTEDNESS AMONG AFRICANS</b>. Although we live on the same continent we are so disconnected, for instance Nigeria is more connected to UK or US than all its neighbouring countries combined. Well, you may say it is because of trading but can't we too promote trading among our selves.</p> 
        <p>* By enabling people to create meaningful conversions and connections with other people across Africa through Africonn forum.</p>
        <p>* By enabling people to apply for Job in one’s country or across Africa.</p>
        <p>* By enabling people to make resume in minutes.</p>
        <p>* By enabling people to create polls which helps them to know other people’s mind.</p>
        <p>* Africonn also provide people with bloging tools for sharing knowledge across Africa</p>
        <p>Note: Black lives is not going matter until we start contributing immensely to the world progress. Let us all work together to make the world a better place and Africa proud</p>   
    <br>
    <p class="tweet-color">AbdulAzeez Olabode</p> 
    <p class="tweet-color">Developer - Africonn</p> 
    
</div>
<br>
<div id="points">
    <h1 class="contentTitle">About Africonn points or deeds</h1>
    <p>First of all what can use the points for</p>
    <p>* You can use points to promote your threads to main pages so that people can find it easily.</p>
    <p>* You can use it to advertise on the platform</p>
    <p>* You can use it to create communities, this is to restrict just anybody from creating a community</p>
    <p>* you can sell your point by transfering it to others from your profile for a fee</p>
   
    <p>* you can sell your point by transfering it to others from your profile for a fee</p>
    <br>
    <p>How do you earn points on Africonn</p>
    <p>* By refering others to the Africonn through your profile</p>
    <p>* By contributing meaningfully to the community, so as to get love </p>
    <p>* through a friend, you can send or recieve points from others</p>
    <p>* by avoiding people disliking or getting angry at you</p>
    <p>* by buy points from the Africonn, send a message to the admin from your profile or whatsapp +2348142700835</p>
        
</div>
<br>
<div id="terms">
    <h1 class="contentTitle">Term of use</h1>
        <p>* All members are responsible for what they post on Africonn.</p>
        <p>* Pornographic contents are not allowed here in whatever form they maybe</p>
        <p>* Tribalism, racism, hate speech are not allowed here</p>
        <p>* Scamming, pranking, trolling are not allowed here, some African countries are reputable for being top scammers, It is time to clean our image and make the internet safer.</p>
        <p>* Africonn has the right to remove any content it deems malicious, deceiving, tribalistic e.t.c </p>
        <p>* Spamming and off category contents are not allowed here</p>
    
</div>
{% endblock %}